<form (ngSubmit)="onPublishMessage()" [formGroup]="messageForm">
  <mat-form-field subscriptSizing="dynamic">
    <input
      #file
      name="file"
      type="file"
      style="display: none"
      accept="image/*"
      (change)="fileChanged($event)"
    />
    <button mat-icon-button matSuffix type="button" (click)="file.click()">
      @if (hasImage) {
      <mat-icon>image</mat-icon>
      } @else {
      <mat-icon>add_photo_alternate</mat-icon>
      }
    </button>

    <input matInput name="message" type="text" formControlName="msg" />
    <button mat-icon-button matSuffix type="submit">
      <mat-icon aria-label="Send message" fontIcon="send"> </mat-icon>
    </button>
  </mat-form-field>
</form>
