<form
  class="form"
  (ngSubmit)="onLogin(formDirective)"
  [formGroup]="loginForm"
  #formDirective="ngForm"
>
  <mat-form-field appearance="fill">
    <mat-label>Nom d'usager</mat-label>
    <input
      matInput
      name="username"
      type="text"
      formControlName="username"
      data-testid="username-input"
    />

    @if (hasControlError("username")){
    <mat-error data-testid="username-error">Entrez un nom d'usager</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input
      matInput
      name="password"
      type="password"
      formControlName="password"
      data-testid="password-input"
    />

    @if(hasControlError("password")){
    <mat-error *ngIf="hasControlError('password')" data-testid="password-error">
      Entrez un mot de passe
    </mat-error>
    }
  </mat-form-field>

  <button
    mat-flat-button
    type="submit"
    data-testid="login-button"
    [disabled]="loginForm.invalid"
  >
    Connexion
  </button>
</form>
